<div id="search">
	<%= form_tag parts_search_path, :method => 'post' do %>
	<p>
		<%= text_field_tag :part, params[:part] %>
		<%= submit_tag "Search Parts", :class => "btn btn-primary", :name => nil %>
	</p>
	<% end %>
</div>



<%if @part%>
<div class="wellDark borBox">
  <h2>Listing Parts</h2>
</div>
<p> &nbsp <p>
<div id="parts">
		<table class="table table-bordered">
		<tr>
      <th><h2><%= Part.human_attribute_name("part_type") %></h2></th>
			<th><h2><%= Part.human_attribute_name("part_number") %></h2></th>
			<th><h2><%= Part.human_attribute_name("description") %></h2></th>
			<th><h2><%= Part.human_attribute_name("manufacturer") %></h2></th>
			<th><h2><%= Part.human_attribute_name("price") %></h2></th>
			<th><h2><%= Part.human_attribute_name("embargo_datetime") %></h2></th>
		</tr>
		<tr><%= render @part %></tr>
	</table>

</div>
<%end%>


<div><h2>Create Part</h2></div>
<div class="btn btn-inverse">
	<%= link_to 'New Part', new_part_path %>
</div>
