<%= f.fields_for :part do |builder| %>
	<td><%= builder.text_field :interval_miles %></td>
	<td><%= builder.text_field :interval_months %></td>
	<td><%= builder.text_field :ll_interval_miles %></td>
	<td><%= builder.text_field :ll_interval_months %></td>
<%end%>