<div class="modal hide" id="exitModal">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">x</button>
	<h3>FI Settings Manager</h3>
  </div>
  <div class="modal-body">

<%= form_tag 'save_session_file' do %>
	          <p>
              <%= select_tag "setting[name]", options_for_select(SettingsFile.where("company_id= ?", 
    current_user.company_id).collect {|p| [ p.name, p.name ] })  %>
		          <%= submit_tag "Update File", :class => "btn btn-primary", :name => nil %>
	          </p> 
<% end %>

  

 
<%= form_tag 'save_session_file' do %>
	          <p>
		          <%= text_field_tag  "setting[name]" %> 
              <%= submit_tag "Save As File", :class => "btn btn-primary", :name => nil %>
	          </p> 
<% end %>

<p> &nbsp </p>

<table class="table table-bordered">
<tr>
    <th><h2>Saved File</h2></th>
    <th><h2>Creator</h2></th>
    <th><h2>Saved Date</h2></th>
    <th><h2>Load File</h2></th>
    <th><h2>Compare</h2></th>
   </tr>
<% if !@session.blank? %>
  <% @session.each do |s| %>  
    
    <tr>
      <td> Session </td>
      <td><%= User.find(s.user_id).username %></td>
      <td><%= s.updated_at.to_date %></div>
      <td><%=  %></div>
      <td><%=  %></div>
    </tr>

  <% end %>
<% end %>
</table>


  </div>
  <div class="modal-footer">
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-inverse pull-left" %>
	<%= link_to "Save session", '/save_session_settings',  :class => "btn btn-warning" %>
  </div>
</div>
</div>


